#connectmenu {
    max-width: 400px;
    max-height: 400px;
    margin: 25vh auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #8a8a8a;
    color: white;
}

#playerlist {
    max-width: 400px;
    max-height: 400px;
    margin: 25vh auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #8a8a8a;
    color: white;
    display: none;
}

.title {
    padding: 20px;
}

.links {
    position: absolute;
    right: 20px;
    top: 6px;
    line-height: 16pt;
}

body {
    background-color: paleturquoise;
}

.username {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #8a8a8a;
    display: none;
}