#connectmenu {
    max-width: 400px;
    max-height: 400px;
    margin: 25vh auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #8a8a8a;
    color: white;
}

#playerlist {
    max-width: 400px;
    max-height: 400px;
    margin: 25vh auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #8a8a8a;
    color: white;
    display: none;
}

.title {
    padding-top: 30px;
    padding-bottom: 10px;
}

.linkdiv {
    position: absolute;
    right: 20px;
    top: 5px;
}

.link {
    position: relative;
    padding-left: 5px;
}

body {
    background-color: paleturquoise;
}

.username {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #8a8a8a;
    display: none;
}